body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
}

.section-one {
    padding: 0 0px 100px 0;
    padding-top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: auto;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    margin-right: 25px;
}

.alinks {
    color: #000000;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}

.alinks:hover {
    color: #24a0ed;
}

.hero-container {
    display: flex;
    flex-direction: row;
    color: #000000;
    margin: 25px 100px 50px 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.hero-p {
    margin: 0;
    color: black;
    text-align: center;
    margin: 10px 0 40px 0;
}

.hero-title {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 10px;
}

.hero-header-image {
    width: 75px;
}

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0px 100px 0;
    padding-top: 0;
    margin: auto;
    background-color: white;
}

.text-container {
    font-size: 30px;
}

.code-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.code-image {
    max-width: 125px;
    padding: 10px;
}

.footer {
    font-size: 15px;
}